<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
</head>
<body>
    <h1>首页</h1>

    <a th:href="@{/test-servletapi}">通过servletAPI向request域对象共享数据</a><br><br>

    <a th:href="@{/test-modelandview}">通过 modelandview 向request域对象共享数据</a><br><br>

    <a th:href="@{/test-model}">通过 model 向request域对象共享数据</a><br><br>

    <a th:href="@{/test-map}">通过 map 向request域对象共享数据</a><br><br>

    <a th:href="@{/test-modelMap}">通过 modelMap 向request域对象共享数据</a><br><br>

    <a th:href="@{/test-session}">向session域对象共享数据</a><br><br>

    <a th:href="@{/test-application}"> 向application域对象共享数据</a><br><br>

    <a th:href="@{/test-ThymeleafView}"> ThymeleafView </a><br><br>

    <a th:href="@{/test-forward}"> 转发视图 </a><br><br>

    <a th:href="@{/test-redirect}"> 重定向视图 </a><br><br>

    <a th:href="@{/users}">查询所有用户信息</a><br><br>

    <a th:href="@{/user/1}">根据id查询用户信息</a><br><br>

    <form th:action="@{/user-post}" method="post">
        用户名：<input type="text" name="username">
        密码：<input type="password" name="password">
        <input type="submit" value="添加">
    </form><br><br>

    <form th:action="@{/user-put}" method="post">
        <input type="hidden" name="_method" value="PUT">
        用户名：<input type="text" name="username">
        密码：<input type="password" name="password">
        <input type="submit" value="修改">
    </form>

</body>
</html>